<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.webServer">
			<sectionGroup name="rewrite">
				<section name="rewriteMaps" overrideModeDefault="Allow" />
				<section name="rules" overrideModeDefault="Allow" />
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<system.webServer>
	<urlCompression doDynamicCompression="true" dynamicCompressionBeforeCache="false" />
		<handlers>
			<remove name="PHP53_via_FastCGI" />
		</handlers>
		<directoryBrowse enabled="false" />
		<rewrite>
			<rules>
				<rule name="rule 2d" enabled="false">
					<match url="^menuapp$" ignoreCase="true" />
					<action type="Rewrite" url="/index.php" appendQueryString="true" />
				</rule>
				<rule name="rule 3d" enabled="false" stopProcessing="true">
					<match url="^webdav/(.*)$" ignoreCase="true" />
					<action type="Rewrite" url="//webdav/index.php?u={R:1}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
        <httpCompression>
            <dynamicTypes>
                <remove mimeType="message/*" />
                <remove mimeType="text/*" />
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
            </dynamicTypes>
        </httpCompression>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="Default.htm" />
                <remove value="iisstart.htm" />
                <remove value="Default.asp" />
            </files>
        </defaultDocument>
	</system.webServer>
</configuration>
